<div class="container-fluid">
  <section id="about">
    <div class="row">
      <div class="col-md-6" style="padding-top:50px;">
        <h1>Hello, I'm <b>Vannak</b>, A Full-Stack Developer.</h1>
        <p><i>Currently looking for Jedi Masters to help me master the force and also
        a junior developer position.  I've worked with Rails and AngularJS 1.5.  I have a passion
        for learning and using my knowledge to impact others.  In my free time, I'm either trying to
        become a Jedi Master (in coding) or a Chess Master (in real life).
        </p>
        <button class="btn btn-default">View My CV</button>
          <hr>
      </div>
      <div class="col-md-6" style="padding-top:50px;">
        <%= image_tag "bw-brushed.png", size: "200" %>
      </div>
    </div>
  </section>

  </section>
  <section id="work">
    <div class="row">
       <div class="col-md-12">
         <h4 class="section-heading">Recent Project</h4>
       </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
         <div class="thumbnail">
         <%= image_tag "learn_main.png", size: "100" %>
           <div class="caption">
             <h5>LearnExchange</h5>
             <p>AngularJS 1.5, Rails 4.0</p>
           <p><a href="#" class="btn btn-secondary" role="button">Github</a></p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3">
       <div class="thumbnail">
         <%= image_tag "rienery_courses.png", size: "100" %>
         <div class="caption">
           <h5>Rienery</h5>
           <p>Rails 4.0</p>
           <p><a href="#" class="btn btn-secondary" role="button">Github</a></p>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-3">
       <div class="thumbnail">
         <%= image_tag "vanes_home.png", size: "100" %>
         <div class="caption">
           <h5>Sinatra Payoff</h5>
           <p>Sinatra</p>
           <p><a href="#" class="btn btn-secondary" role="button">Github</a></p>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-md-3">
       <div class="thumbnail">
         <%= image_tag "stocks_watch.png", size: "100" %>
         <div class="caption">
           <h5>Stocks Watchlist</h5>
           <p>Ruby CLI</p>
           <p><a href="#" class="btn btn-secondary" role="button">Github</a></p>
         </div>
       </div>
     </div>
    </div>
  </section>
  <hr>
  <section id="blog">
    <div class="row">
      <div class="col-md-12">
        <h4 class="section-heading">Recent Posts</h4>

      </div>
      <div class="col-md-4">
        <h5>Quick Sort Algorithm</h5>
        <p>Sorting is a common task in programming and you can sure bet that
        there have been a lot of solutions in the past.  Some algorithm are more
        intuitive than others but ...</p>
      </div>
      <div class="col-md-4">
        <h5>Authentication in Rails</h5>
        <p>As our rails application increase in complexity, how we make sure a user
        is who they say they are is an important factor to think about.  Authentication
        deals with...</p>
      </div>
      <div class="col-md-4">
        <h5>Primitives</h5>
        <p>I don't mean cavemen!  All programming languages are built upon a handful of
        datatypes.  It's amazing how they combine to create such limitless possibilities. Let's
        explore...</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default">Read Blog</button>
      </div>
    </div>
  </section>
  <hr>
  <section id="contact">
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading">Contact: vannak.chhay1@gmail.com</h5>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="message" placeholder="Message">
          </div>
          <button class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
